<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>forgotten password</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <style>
  body{
    background-image: url('/media/08.jpg/');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

  }

  </style>
</head>
<body>
  <center>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <form action="" method="post">

    <h1><b><i>Forgotten Password</i></b></h1>
    <div>
      <label for="email">Email:</label>
      <input name="searchTxt" type="text" maxlength="512" id="searchTxt" class="searchField"/>
    </div>
        <button type="button" id="search" value="">Submit</button>
    </form>
<script>
    $(document).ready(function(){
        $("#search").click(function(e){
            e.preventDefault();
            var email = document.getElementById("searchTxt").value;
            $.ajax({
               'url': "{% url 'forgot_password' %}",
               'type': "POST",
               'data': {
                   'email':email,
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
               },
               success: function(response) {
                        if(response.status=="success"){
                            alert("Request successfull send")
                            location.reload();
                            }
                        }
        });
        });
    });
</script>
  </center>
</body>
</html>